@model List<ContactsViewModel>
@using Pajonos.Shleken.Services
@using Pajonos.Shleken.Services.Models


@{
    ViewData["Title"] = "Contacts";
    var search = ViewBag.Search as ContactsSearchViewModel;

}


@section Title {
    <h2><a href="~/ProjectsContacts/@(ViewBag.ProjectId)">@ViewBag.ProjectsName.Name</a></h2> \
}

@section TitleRight {
    <a href="javascript:" class="btn btn-default btn-search"><i class="fa fa-filter" aria-hidden="true"></i></a>
    <a href="~/project/@ViewBag.ProjectId/Contacts/New" class="btn btn-default" title="New Contacts" data-popup><i class="fa fa-plus" aria-hidden="true"></i> New</a>
}

@section Sidebar {
    @Html.Partial("ProjectSidebar")
}
<div class="row search-panel">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" method="get">
                    <div class="form-group">
                        @Html.LabelFor(i => search.Name)
                        @Html.TextBoxFor(i => search.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => search.Company)
                        @Html.TextBoxFor(i => search.Company, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => search.Phone)
                        @Html.TextBoxFor(i => search.Phone, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a href="~/project/@(ViewBag.ProjectId)/Contacts" class="btn btn-default">Clear</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered  table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Company</th>
                    <th>Phone</th>
                    <th style="width:60px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Role</td>
                        <td>@item.Company</td>
                        <td>
                            @item.Phone
                        </td>
                        <td>
                            <a href="~/project/@(ViewBag.ProjectId)/Contacts/@(item.Id)/delete" class="pull-right delete-item"><i class="glyphicon glyphicon-trash fa-fw" aria-hidden="true"></i></a>
                            <a href="~/project/@item.ProjectId/Contacts/@item.Id" title="Edit Contacts" data-popup class="pull-left "><i class="glyphicon glyphicon-pencil fa-fw" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
