@model Pajonos.Shleken.Services.Models.ToDoListsViewModel

@{
    ViewBag.Title = "To Do List Edit";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}


<div class="container-fluid">

    @using (Html.BeginForm("ToDoListsave", "Project", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" }, type = "date" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(i => Model.IsDone, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.DropDownListFor(i => Model.IsDone, new SelectList(ViewBag.Status, "Id", "Name"), new { @class = "form-control" })
                <span class="help-block">Projects Owner</span>
                @Html.ValidationMessageFor(i => Model.IsDone)
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button type="button" class="btn btn-default" data-popup-close>Cancel</button>
            </div>
        </div>


    }
</div>

